body{
    
}

body > div{
    display: flex;
    justify-content: center;
    padding-top: 50vh;
    transform: translateY(-25%);
}

#primocontainer{
    max-width: 500px;
    position: relative;
}

#primocontainer img{
    top: 0;
    height: 250px;
}

img{
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
}

#up{
    position: absolute;
    left: 33%;
}

.absolute{
    position: absolute;
}

h3,p{
    margin: 0;
}

#down{
    position: absolute;
    bottom: 0;
    left: 33%;
}

#carousel div{
    opacity: 0.2;
} 

#primocontainer .not-active{
    display: none;
}

#primocontainer .active{
    display: block;
}

#primocontainer img{
    position: relative;
}

#primocontainer > div{
    position: relative;
} 

#primocontainer .testo{
    font-size: 11px;
    color: white;
    position: absolute;
    bottom: 50px;
    right: 0;
}

#primocontainer .buttons{
    display: flex;
    justify-content: space-between;
    transform: translateY(-140px);
}

button{
    background-color: black;
    border-radius: 50%;
    border: none;
    padding: 6px;
    color: white;
}


#primocontainer div{
    display: none;
}

.active{
    display: block;
}


h3{
    margin-left: 87% ;
}

#primocontainer{
    max-height: 250px;
}

body #carousel{
    max-width: 100px;
}

body #carousel img{
    height: 48px;
    border: 1px solid green;  
}
